
<ion-header>

  <ion-navbar>
    <ion-title>{{ categoria.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row
      *ngFor="let plato of categoria.platos, let i = index">
      <ion-col col-1>
        <ion-checkbox
          [(ngModel)]="platoChecked[i]"
          (ionChange)="updatePlatoChecked(i)"></ion-checkbox>
      </ion-col>
      <ion-col col-7 offset-1>
        {{ plato.name}}
        <br>
        <ion-note>{{ plato.ingredients }}</ion-note>
      </ion-col>
      <ion-col col-2>
        {{ plato.price}}€
        <br>
        {{ plato.rating}}
        <ion-icon
          name="star"></ion-icon>
      </ion-col>
      <ion-row *ngIf="platoChecked[i] == true">
        <ion-item>
          <ion-label color="primary" floating>comment</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <input type="text" name="comment">
      </ion-row>
    </ion-row>

  </ion-grid>
</ion-content>

